{
  "printWidth": 100,
  "bracketSpacing": true,
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.{cmp,page}",
      "options": { "parser": "html" }
    }
  ]
}
