.btn-add-article {
  // margin: auto auto 1.5rem 1.2rem;
  margin: 1.5rem 1.2rem;
  background-color: #ff216d;
  &:hover {
    background-color: #ff216d;
  }
}

.add-article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.add-article-text {
  font-size: 1.5rem;
}

.news-container {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  padding: 2%;
  max-height: 100vh;
  animation: slideMe 2s ease-in;
}

.news-container:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.news-card-container {
  display: flex;
  flex-grow: 2;
  background-color: #ffffff;
  padding: 0.5%;
  &:hover {
    transform: scale(1.04);
    outline-width: 6px;
    background: linear-gradient(-45deg, #ffbe25 0%, #7d0a79 100%);
  }

  & .news-card {
    background-color: #ffffff;
    padding: 1.5%;
    // height: 100%;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & .news-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1%;
    font-size: 1.5rem;
  }
}

.news-card-footer {
  padding: 0 25px;
  background-color: #272262;
  color: #e6e6e6;
  font-size: 0.8em;
  line-height: 30px;
  text-align: right;
  bottom: 0;
  left: 0;
  width: 100%;
  & :hover {
    color: #ff216d;
    cursor: pointer;
  }
}

.news-title-date-container {
  position: relative;
  height: 100px;
  display: flex;
}

.news-title-container {
  width: 90%;
  height: 100px;
}

.news-inner-triangle {
  border-left: 100px solid transparent;
  border-right: 100px solid #ff216d;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0px;
  z-index: 2;
}

.news-date {
  color: #ffffff;
  margin-left: 20px;
  max-height: 48px;
  max-width: 48px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
}

// .news-card {
//   background-color: #ffffff;
//   border: 2.7px solid #272262;
//   border-radius: 0.75rem;
//   margin: 2%;
//   padding: 1.5%;
//   box-shadow: 5px 4px 3px rgb(92, 89, 89);
//   & .news-text {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 3; /* number of lines to show */
//     line-clamp: 3;
//     -webkit-box-orient: vertical;
//   }
// }

.news-click {
  text-decoration: none;
  color: black;
  margin: 2%;
}

#news_header2 {
  color: #272262;
  padding: 1%;
}
#news_header6 {
  color: #ff216d;
  padding: 1%;
  font-weight: bold;
}

#news_header3 {
  color: #ff216d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 100;
  font-size: medium;
  padding: 1%;
}

.news-heading-2 {
  display: flex;
  justify-content: space-between;

  & .news-author {
    font-weight: 100;
    font-size: 15px;
    color: #ff216d;
  }

  & .news-date {
    font-weight: 100;
    font-size: 15px;
    color: #ff216d;
  }

  & .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  & .box-1 {
    height: 23px;
    width: 50px;
    background-color: #272262;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
  }

  & .box-2 {
    height: 23px;
    width: 60px;
    background-color: #272262;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
  }

  & .box-3 {
    height: 23px;
    width: 60px;
    background-color: #272262;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
  }
}

.news-body {
  text-indent: 20px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 600px;
}

@keyframes slideMe {
  0% {
    transform: skewX(0deg) translateX(-500px);
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(30px);
  }

  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

.newsimage {
  margin-top: 0.5%;
  margin-left: 1%;
  max-height: 70vh;
  max-width: 50%;
  padding: 1.5%;

  & .news-pic {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  & hr {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #ff216d;
    opacity: 1;
  }
}
