.jobs-area {
  position: relative;
  padding: 80px 0;
  background-color: #fff;

  &--heading {
    display: flex;
    margin-bottom: 50px;
  }

  &--title {
    margin-right: auto;

    & h2 {
      margin-bottom: 5px;
      font-size: 32px;
      line-height: 40px;
    }

    & h6 {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  &__browse {
    align-self: flex-end;

    &--btn {
      padding: 5px 10px;
      font-size: 12px;
      text-align: center;
      background-color: #2e55fa;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    & ul,
    li {
      display: inline-block;
      margin-right: 10px;

      & i {
        margin-right: 5px;
      }
    }

    & > li {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__card {
    position: relative;
    display: block;
    padding: 25px;
    background-color: #fff;
    border-left: 5px solid #e1e7ff;
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    border-radius: 4px;

    &:hover {
      border-color: #2e55fa;
    }

    &--content {
      display: flex;
      margin-bottom: 30px;
    }

    &--company {
      margin-right: 20px;

      & h4 {
        margin-bottom: 10px;
      }

      & span {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: #e1e7ff;
        text-align: center;
      }
    }

    &--info {
      & li a:hover {
        color: #333;
        text-decoration: underline;
      }

      & h4 {
        margin-right: 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
